@font-face {
	font-family: 'Myriad Pro'; 
	src: url(./fonts/MyriadPro/MYRIADPRO-REGULAR.OTF); 
    font-weight: normal;
    font-style: normal;
}
@font-face {
	font-family: 'Calibri'; 
	src: url(./fonts/Calibri/calibri.ttf); 
    font-weight: normal;
    font-style: normal;
}
@font-face {
	font-family: 'Antonio'; 
	src: url(./fonts/Antonio/Antonio.ttf); 
    font-weight: normal;
    font-style: normal;
}
@font-face {
	font-family: 'Antonio Bold'; 
	src: url(./fonts/Antonio/Antonio.ttf); 
    font-weight: bold;
    font-style: normal;
}
@font-face {
	font-family: 'Raleway'; 
	src: url(./fonts/Raleway/Raleway.ttf); 
    font-weight: normal;
    font-style: normal;
}
@font-face {
	font-family: 'Raleway Bold'; 
	src: url(./fonts/Raleway/Raleway.ttf); 
    font-weight: bold;
    font-style: normal;
}
@font-face {
	font-family: 'Raleway SemiBold'; 
	src: url(./fonts/Raleway/Raleway.ttf); 
    font-weight: 600;
    font-style: normal;
}
@font-face {
	font-family: 'Raleway Light'; 
	src: url(./fonts/Raleway/Raleway.ttf); 
    font-weight: lighter;
    font-style: normal;
}
*{
    margin: 0;
    padding: 0;
}
.body{
    max-width: 1200;
    margin-left: auto;
    margin-right: auto;
}



.header{
    width: 100%;
    left: 0;
    top: 0;
    background: #ffffff;
    min-height: 100%;
    overflow: hidden;
}
.header-bg{
    background: #ffffff;
}
.header-bg .link{
    margin: 58px 0px 58px 0px;
    display: block;
    text-align: center;
    text-decoration: none;
    color: #000000;
    font-family: Antonio;
    font-size: 45px;
}
.header-bg .store{
    text-align: center;
    writing-mode: vertical-lr;
    text-transform: uppercase;
    font-size: 20px;
    color: #acb9c1;
}
.container{
    max-width: 1200px;
    margin: 0px auto;
    padding: 0px 15px;
    box-sizing: content-box;
}
.navmenu{
    border-top: 1px solid #d0d0d0;
    background: #f8f8f8;
}
.navmenu-bg{
    min-height: 60px;
    display: flex;
    justify-content: space-between;
}
.navmenu-left{
    display: flex;
    align-items: center;
}
.navmenu-list-left{
    list-style-type: none;
}
.navmenu-item-left:not(:last-child)
{
    margin-right: 32px;
}
.navmenu-item-left{
    display: inline;
}
.navmenu-link-left{
    text-decoration: none;
    text-transform: uppercase;
    color: #000000;
    font-family: 'Raleway Bold';
    font-size: 13px;
}
.navmenu-link-left:hover{
    border-bottom: 3px solid #a9765a;
}
#icon{
    display: none;
    font-size: 21px;
}
.navmenu-right{
    display: flex;
    align-items: center;
}
.navmenu-list-right{
    list-style-type: none;
}
.navmenu-item-right:not(:last-child){
    margin-right: 27px;
}
.navmenu-item-right{
    display: inline;
}
.korzina{
    position: relative;
}
.count{
    font-family: 'Raleway SemiBold';
    font-size: 12px;
    position: absolute;
    left: 21px;
    color: white;
}
.navmenu-link-right{
    text-decoration: none;
}
.navmenu-link-right:hover{
    border-bottom: 3px solid #a9765a;
}



.main-block{
    background-image: url(./img/Rect.png);
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0%;
    object-fit: cover;
}
.main-block-bg{
    display: flex;
    justify-content: space-around;
}
.main-block-left{
    display: flex;
    flex-wrap: wrap;
    margin:  140px 0px 130px 0px;
}
.main-block-left h1{
    text-transform: uppercase;
    font-family: 'Antonio Bold';
    font-size: 54.5px;
    color: #a9765a;
    letter-spacing: 5px;
}
.main-block-left .fashionstore{
    font-size: 80px;
    color: #170f11;
}
.main-block-left .store{
    color: #a9765a;
}
.main-block-left .text{
    font-family: Calibri;
    font-size: 17px;
    color: #ac7e6f;
    max-width: 600px;
}
.main-block-left .blockRect{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 170px;
    height: 48px;
    background-color: #000000;
}
.main-block-left .blockRect .sale:hover{
    opacity: 0.5;
}
.main-block-left .blockRect .sale{
    text-decoration: none;
    font-family: 'Raleway SemiBold';
    font-size: 18px;
    color: #ffffff;
    text-transform: uppercase;
}
.main-block-right{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}
.main-block-right-img{
    object-fit: cover;
}



.sub-block{
    margin-top: 15px;
    background: #ffffff;
}
.sub-block-bg{
    display: grid;
    grid-gap: 15px;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(5, 1fr);
    grid-template-areas: 
    "A B B"
    "C B B"
    "C D E"
    "F F E"
    "F F G";
}
.sub-block-bg .item{
    align-items: center;
}
.sub-block-bg .item1{
    grid-area: A;
}
.sub-block-bg .item1 .img{
    width: 100%;
    height: 100%;
}
.sub-block-bg .item2{
    grid-area: B;
}
.sub-block-bg .item2 .img{
    width: 100%;
    height: 100%;
}
.sub-block-bg .item3{
    grid-area: C;
    background: #f6f6f6;
}
.sub-block-bg .item3 .img{
    width: 100%;
}
.sub-block-bg .item3 .button{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 43%;
}
.sub-block-bg .item3 .button .link:hover{
    opacity: 0.5;
}
.sub-block-bg .item3 .button .link{
    text-decoration: none;
    text-transform: uppercase;
    font-family: 'Raleway Bold';
    font-size: 18px;
    color: #403e48;
    padding: 10px 30px 10px 30px;
    background-color: #ffffff;
}
.sub-block-bg .item4{
    grid-area: D;
    background: #f6f6f6;
}
.sub-block-bg .item4 .img{
    display: block; 
    margin: 0 auto;
    max-width: 50%;
    max-height: 50%;
}
.sub-block-bg .item4 .button{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 62%;
}
.sub-block-bg .item4 .button .link:hover{
    opacity: 0.5;
}
.sub-block-bg .item4 .button .link{
    text-decoration: none;
    text-transform: uppercase;
    font-family: 'Raleway SemiBold';
    font-size: 18px;
    color: #403e48;
    padding: 10px 30px 10px 30px;
    background-color: #ffffff;
}
.sub-block-bg .item5{
    grid-area: E;
    background: #f6f6f6;
}
.sub-block-bg .item5 .button{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 33%;
}
.sub-block-bg .item5 .button .link:hover{
    opacity: 0.5;
}
.sub-block-bg .item5 .button .link{
    text-decoration: none;
    text-transform: uppercase;
    font-family: 'Raleway SemiBold';
    font-size: 18px;
    color: #403e48;
    padding: 10px 30px 10px 30px;
    background-color: #ffffff;
}
.sub-block-bg .item5 .img{
    width: 100%;
}
.sub-block-bg .item6{
    grid-area: F; 
}
.sub-block-bg .item6 .img{
    width: 100%;
    height: 100%;
}
.sub-block-bg .item7{
    grid-area: G;
}
.sub-block-bg .item7 .img{
    width: 100%;
    height: 100%;
}


@media screen and (max-width: 1260px){
    .sub-block-bg{
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(8, 1fr);
        grid-template-areas: 
        "B B"
        "B B"
        "F F"
        "F F"
        "C A"
        "C E"
        "G E"
        "D D";
    }
}

@media screen and (max-width: 1200px){
    .container{
        max-width: 970px;
    }
}

@media screen and (max-width: 1060px){
    .header-bg .link{
         margin: 48px 0px 48px 0px;
    }
     .main-block-right-img{
         max-width: 100%;
     }
     .main-block-left h1{
         font-size: 25px;
         margin-bottom: 20px;
         letter-spacing: 0px;
     }
     .main-block-left .fashionstore{
         font-size: 35px;
     }
     .main-block-left .blockRect{
         width: 70px;
         margin-top: 20px;
     }
     .main-block-left .blockRect .sale{
         font-size: 10px;
     }
 }

@media screen and (max-width: 992px){
    .container{
        max-width: 750px;
    }
}
 
 @media screen and (max-width: 900px){
     .header-bg .link{
         margin: 38px 0px 38px 0px;
         font-size: 30px;
     }
     .header-bg .store{
         font-size: 13px;
     }
     .navmenu-item-left{
         display: none;
     }
     #icon{
         display: flex;
     }
     .navmenu-left.responsive #icon{
         margin-top: 20px;
     }
     .navmenu-left.responsive .navmenu-item-left:is(:last-child)
     {
         margin-bottom: 20px;
     }
     .navmenu-left.responsive .navmenu-item-left{
         display: flex;
         font-size: 15px;
     }
 }

@media screen and (max-width: 767px){
    .header-bg .link{
        margin: 28px 0px 28px 0px;
    }
    .container{
        max-width: none;
    }
}

@media screen and (max-width: 470px){
    .sub-block-bg .item3 .button .link{
        font-size: 13px;
        padding: 5px 20px 5px 20px;
    }
    .sub-block-bg .item4 .button .link{
        font-size: 13px;
        padding: 5px 20px 5px 20px;
    }
    .sub-block-bg .item5 .button .link{
        font-size: 13px;
        padding: 5px 20px 5px 20px;
    }
}